{% extends 'index.html' %}

{% block blog %}

<h2>Hello there</h2>
<h3>Hello will this change anything?</h3>
<ul>
<li>
<p>You can insert links in text like <a href="/tutorial.md">this</a></p>
</li>
<li>
<p>You may add a <a href="https://agea.github.io/tutorial.md" title="Markdown Tutorial">title</a> to your link (can you see the tooltip?)</p>
</li>
<li>
<p>If your link contains spaces you have to write the <a href="http://example.com/a space">link</a> between <code>&lt;&gt;</code></p>
</li>
<li>
<p>You can use spaces and markup inside the <a href="https://agea.github.io/tutorial.md">link <strong>text</strong></a></p>
</li>
<li>
<p>Long links may decrease source readability, so it's posible to define all links somewhere in the document (the end is a good place) and just reference the [link][tutorial.md], you may also collapse the reference if it matches the link text (example:  [tutorial.md][])</p>
</li>
<li>
<p>You may also write directly the link: <a href="https://agea.github.io/tutorial.md">https://agea.github.io/tutorial.md</a></p>
</li>
<li>
<p>It will work also for email addresses: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#101;&#109;&#97;&#105;&#108;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;">&#101;&#109;&#97;&#105;&#108;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;</a> (you may write vaild email links also using <a href="mailto:email@example.com">mailto</a> as protocol)</p>
</li>
<li>
<p>This is an example of an <a href="{% url 'blog' 'this_is_a_tutorial' %}">internal-link</a></p>
</li>
</ul>

{% endblock %}