@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Fira+Mono&family=Noto+Sans&display=swap');


html { height: 100%; }

body {
    font-family:  "Fira Mono", monospace;
    font-size: 1.0rem;
    line-height: 2;
    margin: 0;
    min-height: 100%;
    background-color: var(--bg);
    color: var(--text);
  }

html, body  {
    --headings: #74c0fc;
    --links: #91A7FF;
    --highlight: #41C7C7;
    --bg: #fff;
    --bg-secondary: #323945;
    --text: hsl(210, 6%, 30%);
    --tag-link: #91A7FF;
    --blog-link: #0060ff;
    --contrast: #ffa500;
    --dark-contrast: #1c1e21;
    --secondary-text: #ADB5BD;
}

a {
    color: var(--links);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--contrast);
    text-decoration: none;
}

.icon{
    font-size: 2em;
    color: var(--links);
}

.icon:hover {
    color: var(--contrast);
    cursor: pointer;
}


.tag {
    font-size: 0.7em;
    margin-right: 8px;
    padding: 1px;
    white-space: nowrap;
    vertical-align: middle;
}

.tag:hover {
    border-bottom: solid;
    border-color: var(--dark-contrast);
    border-width: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.tag-text:hover {
    font-size: 0.8em;
    text-decoration: none;
}

h4 {
    color: var(--headings);
    margin-bottom: 20px;
}
.post-list-item {
    border-bottom: dotted var(--text) 1px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.post-list-item .blog-title {
    text-decoration: none;
    color: var(--blog-link);
    /* font-size: 1.2em; */
}
.post-list-item a:hover{
    color: var(--contrast);
}
.blog-date { 
    color: var(--secondary-text);
    font-size: 0.8em;
    align-items: baseline;
    /* margin: 1.2em; */
}
li.post-list-item{
    list-style: none;
}
.post-desc{
    font-size: 0.8em;
    color: var(--secondary-text);
}


.blog h2{
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 20px;
}

.blog h3{
    font-size: 1.7em;
    color: var(--secondary-text);
    margin-top: 15px;
    margin-bottom: 20px;
}

