{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/regular.min.css" integrity="sha512-Nqct4Jg8iYwFRs/C34hjAF5og5HONE2mrrUV1JZUswB+YU7vYSPyIjGMq+EAQYDmOsMuO9VIhKpRUa7GjRKVlg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title> Dananjay Srinivas</title>

</head>

<body>
    <div class="container">

        {% if not old_nav %}
            {% include "snippets/navbar.html" %} 
        {% else %}
            {% include "snippets/old_navbar.html" %}
        {% endif %}

    </div>

    <div class="container">
        <div class="about">
            {% if show_about %}
                {% include "snippets/about.html" %} 
            {% endif %}
        </div>
        

        <div class="blog">
            {% block blog %}
            {% endblock %}
        </div>
        
        {% if blog_list %}

            <h4>{{blog_list_section_name}}</h4>

            {% block blog_list %}
                {%include "content/blog_list.html"%}
            {% endblock %}
        {% endif %}
        

    </div>

            
    
    

    

    <script type="application/javascript" src="{% static 'bootstrap.min.js' %}"></script>

</body>
</html>
